version: "3.9"

services:
  backend:
    build: .
    container_name: django_backend
    volumes:
      - .:/app
    expose:
      - "8000"
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    container_name: nginx_server
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./media:/app/media
      - ./static:/app/static
    depends_on:
      - backend
